body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}
header {
  font-size: 20pt;
  text-align: center;
}


h2 {
  color: #333;
  font-size: 12pt;
  line-height: 20px;

}

p {
  font-size:14pt;
}

button {
background-color: green;
color: white;
padding: 15px 32px;
border: none;
cursor: pointer;
display: inline-block;
margin: 4px 2px;
text-align: center;
text-decoration: none;
width: 760px;
border-radius: 5px;
}