body {
    background-color:lightgoldenrodyellow;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding-top: 10px;
}

header {
    text-align: center;
    font-size: x-large;
    padding-bottom: 20px;
    background-color:cadetblue;
    color: white;
}


h1,
h2 {
    border-radius: 20px;
    
}

section {
    border-radius: 10px;
    margin: 20px;
}
#main,
#ingredients,
#instructions {
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}