body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
     background-image: url('/Newspaper/TorontoStar.jpg');
     background-position: top;
}
h2 {
    font-size:medium;
}

#main {
    display: flex;
    justify-content: space-between;
}
.newspaper {
    column-count: 3;
    column-gap: 50px;
    column-rule: solid lightgrey;
}
hr {
    border-top: 3px solid rgb(0, 110, 255);
}
p {
    margin-left: 10px;

}