*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
}

section nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    right: 0;
    left: 0;
    background: hsl(108, 87%, 19%);
    box-shadow: 0 20px 20px rgba(0,0,0,0.5);
    z-index: 1000;
}


section nav ul {
    list-style: none;
    
}

section nav ul li {
    display: inline-block;
    margin: 20px 20px;

}

section nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    transition: 0.1s;

}

section nav ul li a:hover::after {
    width: 100%;
}

section nav ul li a:hover {
    color: hsl(108, 86%, 32%);
}


section .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 100px;
}

section .main .men_text h1 {
    font-size: 60px;
    position: relative;
    left: 20px;
    
}

section .main .men_text h1 span {
    margin-left: 15px;
    color: hsl(108, 87%, 19%);
    font-family: mv boli;
    line-height: 22px;
    font-size: 70;
}

section .main .main_image img {
    width: 700px;
    position: relative;
    left: 70px;
}

.main_image img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 5px solid #cccccc;
    top: 30px; 
}

section p {
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 120px;
    line-height: 22px;
}

section .main_btn {
    background: hsl(108, 87%, 19%);
    position: relative;
    left: 123px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
}

section .main_btn a {
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .main_btn i {
    color: #fff;
    transition: 0.3s;
}

section .main_btn:hover i {
    transform: translateX(7px);
}


/*Menu*/

.menu {
    width: 100%;
    padding: 70px 0;
}

.menu h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:  30px;
    color: hsl(108, 87%, 19%);
    margin-left: 15px;
}

.menu .menu_box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card {
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.menu .menu_box .menu_card .menu_image {
    width: 300;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img {
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card {
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card {
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: hsl(108, 87%, 19%);
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover {
    color: hsl(108, 87%, 19%);
} 

.menu .menu_box .menu_card .menu_info h2 {
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #000;
}

.menu .menu_box .menu_card .menu_info p {
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.menu .menu_box .menu_card .menu_info .menu_icon {
    color: hsl(108, 87%, 19%);
    text-align: center;
    margin: 10px 0 20px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: hsl(108, 87%, 19%);;
    padding: 8px 10px;
    margin: 0 80px;
    border-radius: 10px;
    transition: 0.3s;
}

/*Reviews*/

.review {
    width: 100%;
    height: 100vh;
    padding: 50px 0;
}

.review h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 {
    margin-left: 15px;
    color: hsl(108, 87%, 19%);
}

.review .review_box {
    width: 95%;
    margin: 70px auto;
    display: flex;
}

.review .review_box .review_card {
    width: 350px;
    height: 535px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
}

.review .review_box .review_card .review_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_profile {
    transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text {
    text-align: center;
}

.review .review_box .review_card .review_text .name {
    color: #000;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name {
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon {
    color: hsl(108, 87%, 19%);
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}

.review .review_box .review_card .review_text .review_social i {
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social i {
    opacity: 1;
    transform: translateY(-8px);
}

.review .review_box .review_card .review_text p {
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text p {
    margin-top: 5px;
}



/*Order*/

.order {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.order h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;
}

.order h1 {
    color: hsl(108, 87%, 19%);
    margin-right: 15px;
}


.order .order_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order .order_main .order_image img {
    width: 600px;
}

.order .order_main form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;

}

.order .order_main form .input p {
    line-height: 25px; 
    border-radius: 10px;
}

.order .order_main form .input {
    margin: 5px;
}

.order .order_main form .input input {
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 10px;
}

.order .order_main form .input input:focus {
    border: 2px solid hsl(108, 87%, 19%);
}

.order .order_main form .order_btn {
    padding: 10px 0;
    background: hsl(108, 87%, 19%);
    color: #fff;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
}

/*Footer*/

footer {
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    background: #eeeeee;
}


::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
    background: hsl(108, 87%, 19%);
    border-radius: 15px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    /* Navigation */
    nav {
        flex-direction: column;
    }

    /* Menu and Review */
    .menu_box, .review_box {
        grid-template-columns: 1fr;
    }

    /* Order */
    .order_main {
        grid-template-columns: 1fr;
    }
}
 
   